# Activity 1.01 - Comparing Sales Data for Two Stores

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import random

In [33]:
filename1="Chapter1-Datasets/Store1.csv"
store1=pd.read_csv(filename1)
store1.head()

  Months  Grocery_sales  Stationary_sales
0    Jan             16                57
1    Jan             44               139
2    Jan             15                85
3    Jan             59                 8
4    Jan             36               106

In [35]:
filename2="Chapter1-Datasets/Store2.csv"
store2=pd.read_csv(filename2)
store2.head()

  Months  Grocery_sales  Stationary_sales
0    Jan             36                84
1    Jan             51                63
2    Jan             17                71
3    Jan             48                65
4    Jan             57                66

### Which store has the greater sales for the quarter?

In [37]:
store1_total_sales = (store1[['Grocery_sales','Stationary_sales']].sum(axis=1)).sum()
print("Total sales for Store 1:",store1_total_sales)
store2_total_sales = (store2[['Grocery_sales','Stationary_sales']].sum(axis=1)).sum()
print("Total sales for Store 2:",store2_total_sales)

Total sales for Store 1: 6082
Total sales for Store 2: 5847

### Which store has the highest sales for grocery products?

In [38]:
store1_grocery_sales = store1['Grocery_sales'].sum()
print("Total grocery sales for Store 1:",store1_grocery_sales)
store2_grocery_sales = store2['Grocery_sales'].sum()
print("Total grocery for Store 2:",store2_grocery_sales)

Total grocery sales for Store 1: 2097
Total grocery for Store 2: 2696

### Which store has the highest sales for March?

In [65]:
marchStore1=store1.query("Months == 'Mar'")
fields = ['Grocery_sales','Stationary_sales']
marchStore1 = marchStore1.groupby(['Months'])[fields].agg('sum').agg('sum', axis=1)
marchStore1

Months
Mar    2871
dtype: int64

In [66]:
marchStore2=store2.query("Months == 'Mar'")
fields = ['Grocery_sales','Stationary_sales']
marchStore2 = marchStore2.groupby(['Months'])[fields].agg('sum').agg('sum', axis=1)
marchStore2

Months
Mar    2378
dtype: int64

### For how many days were the sales of stationery products greater in store 1 than in store 2?

In [69]:
filter = store1['Stationary_sales'].gt(store2['Stationary_sales'])
len(store1[filter])

C:\Users\miran\AppData\Local\Temp\ipykernel_8516\2234995696.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  len(store1[filter])

35

### Print DataFrames

In [9]:
print(data1)

   Months  Grocery_sales  Stationary_sales
0     Jan             16                57
1     Jan             44               139
2     Jan             15                85
3     Jan             59                 8
4     Jan             36               106
5     Jan             27               136
6     Jan             74               116
7     Jan             63               142
8     Jan             65               129
9     Jan             12               138
10    Feb             34               112
11    Feb             73               100
12    Feb             45               135
13    Feb             31                13
14    Feb             61                51
15    Feb             13                26
16    Feb             20               141
17    Feb             18                72
18    Feb             60               134
19    Feb             62                47
20    Feb             56                48
21    Feb             25                75
22    Feb             58                55
23    Feb             10               118
24    Feb             37                14
25    Mar             72                97
26    Mar             48                63
27    Mar             64                54
28    Mar             14                78
29    Mar             51               104
30    Mar             30               133
31    Mar             38                 7
32    Mar             68                29
33    Mar             66                80
34    Mar             41                16
35    Mar             54               111
36    Mar             46               147
37    Mar             43               137
38    Mar             35                 6
39    Mar             55                50
40    Mar             19                34
41    Mar             23                56
42    Mar             28                73
43    Mar             53                69
44    Mar             57               124
45    Mar             39                12
46    Mar             11                86
47    Mar             47                41
48    Mar             52                68
49    Mar             29               113

In [10]:
print(data2)

   Months  Grocery_sales  Stationary_sales
0     Jan             36                84
1     Jan             51                63
2     Jan             17                71
3     Jan             48                65
4     Jan             57                66
..    ...            ...               ...
65    Mar             62                35
66    Mar             40                78
67    Mar             53                75
68    Mar             69                29
69    Mar             31                30

[70 rows x 3 columns]