# Chapter 2 : Working with Data Structures

In [8]:
import pandas as pd
import numpy as np

In [9]:
sample_df_construction = pd.DataFrame({'col1': range(0,100), 'col2': range(1,200,2)})

In [10]:
sample_df_construction.head()

   col1  col2
0     0     1
1     1     3
2     2     5
3     3     7
4     4     9

In [11]:
sample_df_construction.tail()

    col1  col2
95    95   191
96    96   193
97    97   195
98    98   197
99    99   199

In [12]:
type(sample_df_construction)

pandas.core.frame.DataFrame

In [13]:
?pd.DataFrame

In [14]:
sample_np_array_1 = np.array(range(0,100))
sample_np_array_2 = np.array(range(1,200,2))

In [15]:
sample_np_2D = np.column_stack((sample_np_array_1, sample_np_array_2))
print(sample_np_2D[0:5])

[[0 1]
 [1 3]
 [2 5]
 [3 7]
 [4 9]]

In [17]:
sample_df_from_np = pd.DataFrame(sample_np_2D, columns = ['col1','col2'])
print(sample_df_from_np.head())

   col1  col2
0     0     1
1     1     3
2     2     5
3     3     7
4     4     9

In [18]:
list_1 = [i for i in range(100)]
list_2 = [i for i in range(1,200,2)]
print(list_1, list_2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99] [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99, 101, 103, 105, 107, 109, 111, 113, 115, 117, 119, 121, 123, 125, 127, 129, 131, 133, 135, 137, 139, 141, 143, 145, 147, 149, 151, 153, 155, 157, 159, 161, 163, 165, 167, 169, 171, 173, 175, 177, 179, 181, 183, 185, 187, 189, 191, 193, 195, 197, 199]

In [19]:
sample_df_from_iterable = pd.DataFrame(zip(list_1,list_2), columns = ['col1','col2'])
sample_df_from_iterable

    col1  col2
0      0     1
1      1     3
2      2     5
3      3     7
4      4     9
..   ...   ...
95    95   191
96    96   193
97    97   195
98    98   197
99    99   199

[100 rows x 2 columns]

In [21]:
?zip

In [22]:
sample_df_from_lists = pd.DataFrame({'col1':list_1,'col2': list_2})
print(sample_df_from_lists.head())
print(sample_df_from_lists.tail())

   col1  col2
0     0     1
1     1     3
2     2     5
3     3     7
4     4     9
    col1  col2
95    95   191
96    96   193
97    97   195
98    98   197
99    99   199

In [24]:
empty_data = pd.DataFrame()
empty_data.shape

(0, 0)

In [ ]:
my_array = np.array([[0,1,2,3,4],[2,3,4,5,6]])
filled_datafram=pd.concat([empty_data, pd.DataF])