<a href="https://colab.research.google.com/github/mlhudson1/CIDM4310-70_Pandas/blob/main/Chapter1Fixed.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

Createing a Series

In [2]:
ser1 = pd.Series([10,20,30,40])

Displaying the Series

In [3]:
ser1

0    10
1    20
2    30
3    40
dtype: int64

In [4]:
ser2 = pd.Series([[10,20], [30,40.5, 'series'], [50,55],{'Name':'Tess','Org':'Packt'}])
ser2

0                            [10, 20]
1                  [30, 40.5, series]
2                            [50, 55]
3    {'Name': 'Tess', 'Org': 'Packt'}
dtype: object

Create a DataFrame using the constructor

In [7]:
df = pd.DataFrame([30,50,20])

Display the DataFrame

In [8]:
df

    0
0  30
1  50
2  20

In [9]:
df.shape

(3, 1)

In [10]:
df.columns

RangeIndex(start=0, stop=1, step=1)

In [11]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [12]:
print("These are the names of the columns",list(df.columns))
print("These are the row indices", list(df.index))

These are the names of the columns [0]
These are the row indices [0, 1, 2]

Renaming the columns

In [13]:
df.columns = ['V1']
df

   V1
0  30
1  50
2  20

Renaming the indices

In [14]:
df.index=['R1','R2','R3']
df

    V1
R1  30
R2  50
R3  20

Creating DataFrame with multiple columns

In [15]:
df1=pd.DataFrame([[10,15,20],[100,200,300]])
print("Shape of new data frame",df1.shape)
df1

Shape of new data frame (2, 3)

     0    1    2
0   10   15   20
1  100  200  300