# Chapter 4 : Pandas Data Types

In [8]:
import pandas as pd
import numpy as np

## Introducing pandas dtypes

### Obtaining the underlying data types

In [9]:
column_names = ["Customer ID", "Customer Name", "2018 Revenue", "2019 Revenue", "Growth", "Start Year", "Start Month", \
                "Start Day", "New Customer"]
row1 = list([1001.0, 'Pandas Banking', '$235000','$248000','5.5%', 2013,3,10,0])
row2 = list([1002.0, 'Pandas Grocery', '$196000','$205000','4.5%', 2016,4,30,0])
row3 = list([1003.0, 'Pandas Telecom', '$167000','$193000','15.5%', 2010,11,24,0])
row4 = list([1004.0, 'Pandas Transport', '$79000','$90000','13.9%', 2018,1,15,1])
row5 = list([1005.0, 'Pandas Insurance', '$241000','$264000','9.5%', 2009,6,1,0])

In [10]:
data_frame = pd.DataFrame(data=[row1,row2,row3,row4,row5], columns=column_names)
data_frame

,Customer ID,Customer Name,2018 Revenue,2019 Revenue,Growth,Start Year,Start Month,Start Day,New Customer
0,1001.0,Pandas Banking,$235000,$248000,5.5%,2013,3,10,0
1,1002.0,Pandas Grocery,$196000,$205000,4.5%,2016,4,30,0
2,1003.0,Pandas Telecom,$167000,$193000,15.5%,2010,11,24,0
3,1004.0,Pandas Transport,$79000,$90000,13.9%,2018,1,15,1
4,1005.0,Pandas Insurance,$241000,$264000,9.5%,2009,6,1,0

In [11]:
data_frame['2018 Revenue']+data_frame['2019 Revenue']

0    $235000$248000
1    $196000$205000
2    $167000$193000
3      $79000$90000
4    $241000$264000
dtype: object

In [12]:
data_frame.dtypes

Customer ID      float64
Customer Name     object
2018 Revenue      object
2019 Revenue      object
Growth            object
Start Year         int64
Start Month        int64
Start Day          int64
New Customer       int64
dtype: object

In [13]:
data_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Customer ID    5 non-null      float64
 1   Customer Name  5 non-null      object
 2   2018 Revenue   5 non-null      object
 3   2019 Revenue   5 non-null      object
 4   Growth         5 non-null      object
 5   Start Year     5 non-null      int64
 6   Start Month    5 non-null      int64
 7   Start Day      5 non-null      int64
 8   New Customer   5 non-null      int64
dtypes: float64(1), int64(4), object(4)
memory usage: 488.0+ bytes