# Activity 4.01 - optimizing memory usage by converting into the appropriate dtypes

1. Open a Jupyter Notebook.

2. Import the pandas package.

In [1]:
import pandas as pd

3. Load the CSV file as a DataFrame

In [2]:
file_url="https://raw.githubusercontent.com/PacktWorkshops/The-Pandas-Workshop/master/Chapter04/Data/car.csv"
df=pd.read_csv(file_url)

4. Display the first 10 rows of the DataFrame

In [3]:
df.head(10)

  buying  maint  doors  persons lug_boot safety  class
0  vhigh  vhigh      2      2.0    small    low  unacc
1  vhigh  vhigh      2      2.0    small    med  unacc
2  vhigh  vhigh      2      NaN    small   high  unacc
3  vhigh  vhigh      2      2.0      med    low  unacc
4  vhigh  vhigh      2      2.0      med    med  unacc
5    NaN  vhigh      2      2.0      med   high    NaN
6  vhigh  vhigh      2      2.0      big    low  unacc
7  vhigh  vhigh      2      2.0      big    NaN  unacc
8  vhigh  vhigh      2      2.0      big   high  unacc
9  vhigh    NaN      2      4.0    small    low  unacc

5. Display the data types of each column in the DataFrame using the info() method

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1728 non-null   object
 1   maint     1728 non-null   object
 2   doors     1728 non-null   int64
 3   persons   1728 non-null   float64
 4   lug_boot  1728 non-null   object
 5   safety    1728 non-null   object
 6   class     1728 non-null   object
dtypes: float64(1), int64(1), object(5)
memory usage: 94.6+ KB

In [11]:
df.dtypes

buying       object
maint        object
doors         int64
persons     float64
lug_boot     object
safety       object
class        object
dtype: object

6. REplace the missing values appropriately

In [9]:
df.fillna(value={'persons':0}, inplace=True)
df.fillna(value={'buying': 'missing buying','maint':'missing maint','safety':'missing safety','class': 'missing class'},inplace=True)
df.head(10)

,buying,maint,doors,persons,lug_boot,safety,class
0,vhigh,vhigh,2,2.0,small,low,unacc
1,vhigh,vhigh,2,2.0,small,med,unacc
2,vhigh,vhigh,2,0.0,small,high,unacc
3,vhigh,vhigh,2,2.0,med,low,unacc
4,vhigh,vhigh,2,2.0,med,med,unacc
5,missing buying,vhigh,2,2.0,med,high,missing class
6,vhigh,vhigh,2,2.0,big,low,unacc
7,vhigh,vhigh,2,2.0,big,missing safety,unacc
8,vhigh,vhigh,2,2.0,big,high,unacc
9,vhigh,missing maint,2,4.0,small,low,unacc

7. Count the number of distinct unique values for buying, maint, doors, persons, lug_boot, satety, and class.

In [19]:
print('Number of unique values for buying: ', df['buying'].nunique())
print('Number of unique values for maint: ', df['maint'].nunique())
print('Number of unique values for doors: ', df['doors'].nunique()) 
print('Number of unique values for persons: ', df['persons'].nunique()) 
print('Number of unique values for lug_boot: ', df['lug_boot'].nunique()) 
print('Number of unique values for safety: ', df['safety'].nunique()) 
print('Number of unique values for class: ', df['class'].nunique())

Number of unique values for buying:  5
Number of unique values for maint:  5
Number of unique values for doors:  4
Number of unique values for persons:  3
Number of unique values for lug_boot:  3
Number of unique values for safety:  4
Number of unique values for class:  5

8. Convert the object columns into categorey columns wherever appropriate

In [22]:
df['buying'] = df['buying'].astype('category')
df['maint'] = df['maint'].astype('category')
df['lug_boot'] = df['lug_boot'].astype('category')
df['safety'] = df['safety'].astype('category')
df['class'] = df['class'].astype('category')
df['persons'] = df['persons'].astype('int')

9. Finially, display the data types of each column in the DataFrame

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1728 non-null   category
 1   maint     1728 non-null   category
 2   doors     1728 non-null   int64
 3   persons   1728 non-null   int32
 4   lug_boot  1728 non-null   category
 5   safety    1728 non-null   category
 6   class     1728 non-null   category
dtypes: category(5), int32(1), int64(1)
memory usage: 29.8 KB