#  Chapter 5 : Data Selection - DataFrames

In [1]:
import pandas as pd

## Introduction to DataFrames

### The need for data selection methods

In [3]:
GDP_data = pd.read_csv('Chapter5-Datasets/US_GDP_Industry.csv')
GDP_data

       period                Industry      GDP
0     2015_Q1          All industries  31917.8
1     2015_Q2          All industries  32266.2
2     2015_Q3          All industries  32406.6
3     2015_Q4          All industries  32298.7
4     2016_Q1          All industries  32303.8
...       ...                     ...      ...
2129  2019_Q2  Government enterprises    371.4
2130  2019_Q3  Government enterprises    373.5
2131  2019_Q4  Government enterprises    375.1
2132  2020_Q1  Government enterprises    372.8
2133  2020_Q2  Government enterprises    346.0

[2134 rows x 3 columns]

## Data selection in pandas DataFrames

### The index and it's forms

In [4]:
GDP_data.index

RangeIndex(start=0, stop=2134, step=1)

In [5]:
range(0,2134)

range(0, 2134)

In [6]:
for i in range(0,2134,1):
    if(i>0 and i<10):
        print(i)

1
2
3
4
5
6
7
8
9

In [7]:
print(list(range(0,2134,1))[:10])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]