# Activity 2.01 - Working with pandas data structures

In [25]:
import pandas as pd
import numpy as np

In [26]:
GDP_data = pd.read_csv('Chapter2-Datasets/US_GDP.csv')
GDP_data.head()

         date      GDP
0  2017-03-31  19190.4
1  2017-06-30  19356.6
2  2017-09-30  19611.7
3  2017-12-31  19918.9
4  2018-03-31  20163.2

In [27]:
GDP_data['date'] = pd.to_datetime(GDP_data['date'])
GDP_data.head()
type(GDP_data['date'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [28]:
GDP_data.set_index('date', inplace=True)
GDP_data.head()

                GDP
date
2017-03-31  19190.4
2017-06-30  19356.6
2017-09-30  19611.7
2017-12-31  19918.9
2018-03-31  20163.2

In [29]:
type(GDP_data)

pandas.core.frame.DataFrame

In [30]:
print(GDP_data.columns)

Index(['GDP'], dtype='object')

In [31]:
GDP_data.to_csv('Chapter2-Datasets/US_GDP_date_index.csv')